@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #811bac;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding-top: 1rem;
}

#title {
  margin: 0;
  color: white;
  font-size: 2.3rem;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.4375rem;
}

.container {
  width:  100%;
  height: 38.4375rem; /*615px*/
  margin-bottom: 2rem;
  max-width: calc(50vw - 2.075rem);
}

.container section, .container textarea {
  /*background-color: hsl(282, 73%, 85%);*/
  background-color: lightgray;
}

footer {
  color: white;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: .8rem;
}

footer a {
  color: hsl(52deg 100% 47%);
}

footer a:hover {
  font-weight: bold;
}

footer a:focus {
  outline-color: white;
}

footer a:visited {
  color: hsl(52deg 75% 50%);
}

/*media queries*/
@media (min-width:720px) {
  main {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: .8rem;
  }

  .container {
    height: 33.4375rem;
    margin: 0;
  }
}
